<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product list</title>
</head>
<body>
<a href="{% url 'add-product' %}">Add New Product</a>
    <table>
        <tr>
           <th>Product Name</th>
           <th> </th>
        </tr>
        {% for product in data %}
        <tr>
            <td>{{product.product_name}}</td>
            <td><a href="{% url 'detail-product' product.id %}">View</a></td>
            <td><a href="{% url 'update-product' product.id %}">Update</a></td>
            <td><a href="{% url 'delete-product' product.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>